* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*font-family: FreeMono, monospace;*/
    font-family: 'Ubuntu';
    color: white;
    scrollbar-color: rgb(80, 80, 80) black;
}
html > body{
    background-image: url("../images/background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}
nav > h1 {
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    padding-left: 7.5vw;
    cursor: default;
    transition: 0.5s;
}
nav.lg > div{
    display: flex;

}
nav.lg div > a {
    width: 125px;
    height: 50px;
    text-align: center;
    align-content: center;
    text-decoration: none;
    opacity: .5;
    transition: .2s ease;
}
nav.lg div > a:hover{
    opacity: 1;
    font-size: 1.2em;
}
footer {
    height: 150px;
    background: #FFFFFF00;
}
footer p{
    color: rgba(255, 255, 255, .50);
    margin-top: 100px;
    padding: 0;
    text-align: center;
    width: 100vw;
    font-size: 1em;
}
footer p > a{
    text-decoration: none;
    opacity: .6;
    transition: 0.2s;
}
footer p > a:hover{
    opacity: 1;
}
h1 {
    padding: 15px;
    padding-bottom: 25px;
    font-size: 40px;
    transition: 0.5s;
}
p {
    padding: 10px;
    padding-bottom: 30px;
    font-size: 18px;
    transition: 0.5s;
}
main img{
    border: solid white 1px;
    border-radius: 5px;
}
nav.sm{
    display: none;
}
.sm-dropdown{
    display: none;
}
/* xl desktop */
@media (max-width: 1400px){
    h1 {
        font-size: 30px;
    }
    nav button{
        font-size: 18px;
    }
}
/* large desktop view */
@media (max-width: 1200px){
    h1 {
        font-size: 30px;
    }
    p{
        font-size: 14px;
    }
}
/* laptop/small screen view */
@media (max-width: 1000px){
    h1 {
        font-size: 25px;
    }
    nav.sm{
        display: flex;
    }
    nav.lg{
        display: none;
    }
    nav > h1{
        font-size: 1.25em;
        padding-left: 5vw;
    }
    nav.sm > img{
        border: none;
        aspect-ratio: 1/1;
        height: 30px;
        margin-right: 5vw;
        cursor: pointer;
    }   
    .sm-dropdown{
        opacity: 0;
        font-size: 0;
        width: 0;
        display: flex;
    }
    .sm-dropdown.show{
        opacity: 1;
        width: 100%;
        font-size: 0.9em;
        justify-content: space-around;
    }
    .sm-dropdown > a{
        width: 75px;
        height: 20px;
        font-size: 0.9em;
        text-align: center;
        align-content: center;
        text-decoration: none;
        opacity: .5;
        transition: .2s ease;
    }
    .sm-dropdown > a:hover{
        opacity: 1;
        font-size: 1em;   
    }  
    
}
/* tablet view*/
@media (max-width: 760px){
    h1 {
        padding: 15px;
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    header{
        font-size: 25px;
    }
    footer p{
        font-size: 0.8em;
    }
}
/* mobile view*/
@media (max-width: 500px){
    h1 {
        padding: 10px;
        font-size: 18px;
    }
    p {
        padding: 10px;
        font-size: 9px;
    }
    header{
        font-size: 20px;
        padding: 20px;
        padding-left: 8%;
    }
}