* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*font-family: FreeMono, monospace;*/
    font-family: 'Ubuntu';
    color: white;
    scrollbar-color: rgb(80, 80, 80) black;
}
header {
    background-image: linear-gradient(rgb(25,25,25),rgb(15,15,15),black,black );
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 5dvh;
    padding-left: 8%;
    padding-bottom: 80px;
    cursor: default;
    transition: 0.5s;
}
main {
    background-image: linear-gradient(black,rgb(15,15,15),
    rgb(25,25,25));
}
footer {
    height: 150px;
    background-image: linear-gradient(rgb(25,25,25),rgb(15,15,15));
}
h1 {
    padding: 15px;
    padding-bottom: 25px;
    font-size: 40px;
    transition: 0.5s;
}
p {
    padding: 10px;
    padding-bottom: 30px;
    font-size: 18px;
    transition: 0.5s;
}
nav {
    background-color: black;
    font-size: 20px;
    transition: 0.5s;
}
nav div {
    list-style-type: none;
    overflow: hidden;
}
nav button {
    background-color: black;
    border: none;
    font-size: 20px;
    float: left;
    opacity: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5%;
    padding-right: 5%;
}
nav a button:hover {
    background-color: rgb(20,20,20);
    opacity: 100%;
    cursor: pointer;
    transition: 0.25s;
}
nav a button {
    display: block;
    text-align: center;
    text-decoration: none;
}
img{
    border: solid white 1px;
    border-radius: 5px;
}

/* xl desktop */
@media (max-width: 1400px){
    h1 {
        font-size: 30px;
    }
    nav button{
        font-size: 18px;
    }
}
/* large desktop view */
@media (max-width: 1200px){
    h1 {
        font-size: 30px;
    }
    p{
        font-size: 14px;
    }
}
/* laptop/small screen view */
@media (max-width: 1020px){
    h1 {
        font-size: 25px;
    }
}
/* tablet view*/
@media (max-width: 760px){
    h1 {
        padding: 15px;
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    nav button{
        font-size: 14px;
    }
    header{
        font-size: 25px;
    }
    footer{
        height: 200px;
    }
}
/* mobile view*/
@media (max-width: 500px){
    h1 {
        padding: 10px;
        font-size: 18px;
    }
    p {
        padding: 10px;
        font-size: 9px;
    }
    nav button {
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5%;
        padding-right: 5%;
    }
    header{
        font-size: 20px;
        padding: 20px;
        padding-left: 8%;
    }
    footer{
        height: 100px;
    }
}